@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --toastify-color-light: #fff !important;
    --toastify-color-dark: #121212 !important;
    --toastify-color-info: #06b6d4 !important;
    --toastify-color-success: #22c55e !important;
    --toastify-color-warning: #f59e0b !important;
    --toastify-color-error: #ef4444 !important;
    --toastify-color-transparent: rgba(255, 255, 255, 0.7) !important;
  }
}

@layer utilities {
  .clip-square {
    background-color: rgba(0, 0, 0, 0.5);
    clip-path: polygon(
      0% 0%,
      0% 100%,
      10% 101%,
      10% 20%,
      90% 20%,
      90% 90%,
      0% 90%,
      0% 100%,
      100% 100%,
      100% 0%
    );
  }
}
